/* Imports */

@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb'); /* Berlin Sans font for Woorf Logo*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

/* Navbar */

#woorf-logo{
  font-family: 'Berlin Sans FB', sans-serif;
}
.text-montserrat{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Montserrat', sans-serif;
}
